
/**************************/
/****tela de celular*******/
/**************************/
@media (max-width: 500px){ 
  #messagemAlerta{
	display: block;
	position: fixed;
	top: 12%;
	left: 2%;
	right: 2%;
	max-width: 80%;
	z-index: 9999;
	margin: auto;
	box-shadow: 1px 1px 5px black;
	}
 #container {
  width: 100%;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
	}
#corpoCelular{	
 	margin-bottom: 10%;
 	margin-top: 30%;
 	margin-right: 3px;
 	margin-left: 3px;
	}
#rodapeCelular{
	margin-top: 15%;	
	min-height:100%;
	}
.itemMenu{
	text-align: center;
	text-decoration: none;
	color: #e6e6e6;
	border-bottom:  3px solid #000000;
	padding: 4px;
	margin: 1px 1px 1px 1px;
	}
.itemMenu:hover{
	text-decoration: none;
	color: #e6e6e6;
	border-bottom:  3px solid #529fed;
	margin: 1px 1px 1px 1px;
	padding-bottom: -10;
	}
#concluidos:hover{
	border-bottom:  3px solid #92f88f;
	color: #92f88f;
	}
#recusados:hover{
	border-bottom:  3px solid #ff5555;
	color: #ff5555;
	}
.butaoIconTexto:hover  {
	color: rgba(10, 10, 10, 1);
	}
.corFiltro{
	background: #f2f8ff;
	padding: 5%;
	margin-left: 5%;
	margin-right: 5%;" 
	}
.desaparecer-celular{
	display: none;
	}
.tituloCelular {
	font-size: 130%;
	display: block;
	}
#tituloCelularModal{
	font-size: 80%;
	text-align: left;
	letter-spacing: 0.1;
	word-spacing: 0.5;
	}
.font-size-celular{
	font-size: 80%;
}
.imagem-celular{
	width: 25px;
	float: left;
}
.hei-input-celular{
	height: 30px;
}
}
