html{
	width: 100% !important;		
	max-width: 100% !important;
	min-width: 100% !important;
	margin: 0 !important;
}
body{
	width: 100% !important;		
	max-width: 100% !important;
	min-width: 100% !important;
	margin: 0 !important;
}	
.animacao{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animacao.rapido {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
.animacao.maisDevagar{
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.animacao.devagar {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.borderColorCorpo{
	border: 0.5px solid #fafaff;
}
.hmx-75 {
	max-height: 75% !important;
}
.hmx-25 {
	max-height: 25% !important;
}
.brancoGelo {
	background: #f9f9f9!important;
}
.corMenu{
	background: #1b1c1d !important;
}
.butaoIconTexto:hover  {
	color: #d3d3d3;
}
#hora{
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	text-align:  right;
	position: relative;
	right: 2px;
}
.statusAguardando{
    color: white;
    font-weight: bold;
	background: #529fed;	
}
.statusConcluido{
	color: white;
	font-weight: bold;
	background: #5eed4e;
}
.statusRecusado{
    color: white;
	font-weight: bold;
	background:#ff3535;
}
.statusEntregue{
	color: white;
	font-weight: bold;
	background: #aeb7d2;
}
.validacaoErro {
	background-color: rgba(248, 215, 218, 0.5);
}
.column {
	max-width: 450px;
	float: none;
}
.link-contato {
	color: #39ac49!important;
}
/**********************************************************************************************************************************/
/*******************************************************tela de computador*********************************************************/
/**********************************************************************************************************************************/

/************************************************************750px*****************************************************************/
@media (min-width: 750px) {
	@-webkit-keyframes mov-animada{
	  from {
	    opacity: 0;
	  }
	
	  to {
	    opacity: 1;
	  }
	}
	
	@keyframes mov-animada{
	  from {
	    opacity: 0;
	  }
	
	  to {
	    opacity: 1;
	  }
	}
	.mov-animada{
	  -webkit-animation-name: fadeIn;
	  animation-name: fadeIn;
	}
	.btn-block-computador {
		display: block;
		width: 100%;
	}
	.btn-sm-computador {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
	 	line-height: 1.5;
	 	border-radius: 0.2rem;
	}
	.validacaoMsgm{
		font-family: Times New Romans;
		font-size: 85%;
		letter-spacing: 0.5px;
	}
	.botao-computador{
		margin-top: 50px !important;
		padding: 20px !important;
	}
	.entrarAgora{
		width: 20% !important;
		height: 5% !important;
	}
	img[id="topo"]{
		height: 50px;
		width: 50px;
	}
	.imagem-logo {
		width: 30%!important;
	}
	.imagem-logo-principal {
		width: 70%!important;
	}
	.listagemVazia {
		margin: 5% 20% 5% 20% !important;
		padding: 10% !important;
	}
	.heightMin{
		min-height: 300px;
	}
	#layoutGeral {
		max-width: 100% !important;
		min-height: 60% !important;
		margin: 0px !important;
		padding: 0px !important;
		min-height: 580px !important;
	}
	#layoutMenu {
		width: 25% !important;
		height: 100% !important;
		min-height: 80% !important;
		max-width: 25% !important;
		min-width: 25% !important;
		margin: 0px !important;
		padding: 1px !important;
		background: #1b1c1d !important;
		position: fixed !important;
		font-size: 80% !important;
		z-index: 1060;
	}
	#layoutConteudo {
		width: 75% !important;
		max-width: 75% !important;
		min-width: 75% !important;
		margin: 0px !important;
		padding: 0px !important;
		margin-left: 25% !important;
	}
	#layoutDeslogado {
		width: 100% !important;
		margin: 0px !important;
	}
	#abrirMenu {
		display: none;
	}
	#fecharrMenu {
		display: none;
	}
	#messagemAlerta{
		display: block;
		position: fixed;
		top: 0px;
		width: 80%;
		z-index: 9999;
		margin: 0px !important;
		box-shadow: 1px 1px 5px black;
 	}
 	.itemMenu{
		padding-top: 2px;
		border-bottom:  3px solid #2e3136;
		margin-bottom: 3px !important;
	}
	.itemMenu:hover{
		color: #bfcce3;
		border-bottom:  3px solid #595f68;
		margin-bottom: 3px !important;
		background-color: #32383e !important;
	}
	.linkMenu {
		color: #e6e6e6;
	}
	.linkMenu:hover {
		text-decoration: none;
		color: #e6e6e6;
	}
	.itemMenuSair {
		padding-top: 2px;
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
	}
	.itemMenuSair:hover {
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
		background-color: #382e32!important;
	}
	.t-filtro {
		margin-left: 25% !important;
		min-width: 75%;
		max-height: 20%;
		font-size: 80%;
		z-index: 1000;
	}
/************************************************************850px*****************************************************************/
	@media (min-width: 850px) {
	#layoutGeral {
			max-width: 100% !important;
			min-height: 60% !important;
			margin: 0px !important;
			padding: 0px !important;
			min-height: 580px !important;
		}
		#layoutMenu {
			width: 23% !important;
			height: 100% !important;
			min-height: 80% !important;
			max-width: 23% !important;
			min-width: 23% !important;
			margin: 0px !important;
			padding: 1px !important;
			background: #1b1c1d !important;
			position: fixed !important;
			font-size: 84.2% !important;
			z-index: 1060;
		}
		#layoutConteudo {
			width: 77% !important;
			max-width: 77% !important;
			min-width: 77% !important;
			margin: 0px !important;
			padding: 0px !important;
			margin-left: 23% !important;
		}
		#layoutDeslogado {
			width: 100% !important;
			margin: 0px !important;
		}
		#abrirMenu {
			display: none;
		}
		#fecharrMenu {
			display: none;
		}
		#messagemAlerta{
			display: block;
			position: fixed;
			top: 0px;
			width: 80%;
			z-index: 9999;
			margin: 0px !important;
			box-shadow: 1px 1px 5px black;
	 	}
	 	.itemMenu{
			padding-top: 2px;
			border-bottom:  3px solid #2e3136;
			margin-bottom: 3px !important;
		}
		.itemMenu:hover{
			color: #bfcce3;
			border-bottom:  3px solid #595f68;
			margin-bottom: 3px !important;
			background-color: #32383e !important;
		}
		.linkMenu {
			color: #e6e6e6;
		}
		.linkMenu:hover {
			text-decoration: none;
			color: #e6e6e6;
		}
		.itemMenuSair {
			padding-top: 2px;
			border-bottom:  1px solid #2e3136;
			margin-bottom: 1px !important;
		}
		.itemMenuSair:hover {
			border-bottom:  1px solid #2e3136;
			margin-bottom: 1px !important;
			background-color: #382e32!important;
		}
		.heightMin{
			min-height: 400px;
		}
		.t-filtro {
			margin-left: 23% !important;
			min-width: 77%;
			max-height: 20%;
			font-size: 80%;
			z-index: 1000;
		}
/************************************************************1000px*****************************************************************/
		@media (min-width: 1000px) {
			#layoutGeral {
				max-width: 100% !important;
				min-height: 60% !important;
				margin: 0px !important;
				padding: 0px !important;
				min-height: 580px !important;
			}
			#layoutMenu {
				width: 22% !important;
				height: 100% !important;
				min-height: 80% !important;
				max-width: 22% !important;
				min-width: 22% !important;
				margin: 0px !important;
				padding: 1px !important;
				background: #1b1c1d !important;
				position: fixed !important;
				font-size: 95% !important;
				z-index: 9999;
			}
			#abrirMenu {
				display: none;
			}
			#fecharrMenu {
				display: none;
			}
			#layoutConteudo {
				width: 78% !important;
				max-width: 78% !important;
				min-width: 78% !important;
				margin: 0px !important;
				padding: 0px !important;
				margin-left: 22% !important;
			}
			#layoutDeslogado {
				width: 100% !important;
				margin: 0px !important;
			}
			#messagemAlerta{
				display: block;
				position: fixed;
				top: 0px;
				width: 80%;
				z-index: 9999;
				margin: 0px !important;
				box-shadow: 1px 1px 5px black;
		 	} 
			.itemMenu{
				padding-top: 2px;
				border-bottom:  3px solid #2e3136;
				margin-bottom: 3px !important;
			}
			.itemMenu:hover{
				color: #bfcce3;
				border-bottom:  3px solid #595f68;
				margin-bottom: 3px !important;
				background-color: #32383e !important;
			}
			.linkMenu {
				color: #e6e6e6;
			}
			.linkMenu:hover {
				text-decoration: none;
				color: #e6e6e6;
			}
			.itemMenuSair {
				padding-top: 2px;
				border-bottom:  1px solid #2e3136;
				margin-bottom: 1px !important;
			}
			.itemMenuSair:hover {
				border-bottom:  1px solid #2e3136;
				margin-bottom: 1px !important;
				background-color: #382e32!important;
			}		
			.image {
				margin-top: -100px;
			}
			.t-filtro {
				margin-left: 22% !important;
				min-width: 78%;
				max-height: 20%;
				font-size: 80%;
				z-index: 1000;
			}
		}
	}
}
/**********************************************************************************************************************************/
/********************************************************tela de celular***********************************************************/
/**********************************************************************************************************************************/
@media (max-width: 500px){ 
	html {
		min-width: 250px!important;
		padding: 0px!important;
		margin: 0px!important; 
	}
	body{
		min-width: 100%;
		padding: 0px!important;
		margin: 0px!important; 
	}
	#layoutGeral {
		max-width: 100% !important;
		min-height: 60% !important;
		margin: 0px !important;
		padding: 0px !important;
		min-height: 580px !important;
	}
	#layoutMenu {
		width: 60% !important;
		height: 100% !important;
		min-height: 100% !important;
		max-width: 61% !important;
		min-width: 59% !important;
		margin: 0px !important;
		padding: 1px !important;
		background: #1b1c1d !important;
		position: fixed !important;
		z-index: 9999;
		font-size: 10px !important;
		font-weight: bold;
		display: none;
	}
	#abrirMenu {
		display: inline;
		position: fixed;
		height: 100%;
		z-index: 900;
		width: 18px;
		min-height: 100%;
		margin: 0px;
		padding-top: 70%;
		padding-bottom: 50%;
		border: 1px solid rgba(55, 55, 55, 0.1);
		background: rgba(55, 55, 55, 0.1);
	}
	#abrirMenu:hover {
		display: inline;
		position: fixed;
		height: 100%;
		z-index: 9900;
		width: 18px;
		min-height: 100%;
		margin: 0px;
		border: 1px solid rgba(55, 55, 55, 0.7);
		background: rgba(55, 55, 55, 0.3);
	}
	#fecharMenu {
		display: inline;
		width: 15px;
		min-height: 100%;
		margin: 0px;
		padding-top: 70%;
		padding-bottom: 50%;
		border: 1px solid rgba(55, 55, 55, 0.1);
		border-left: 1px solid rgba(55, 55, 55, 0.9);
		margin-left: 60%;
		background-image: linear-gradient(to right, rgba(55, 55, 55, 0.6), rgba(55, 55, 55, 0.4), rgba(55, 55, 55, 0.2)) !important;
		/* background: rgba(55, 55, 55, 0.1); */
		position: fixed;
		z-index: 9999;
	}
	#layoutConteudo {
		width: 100% !important;
		max-width: 100% !important;
		min-width: 99% !important;
		margin: 0px !important;
		padding: 0px !important;
		margin-left: 0px !important;
	}
	#layoutDeslogado {
		width: 100% !important;
		margin: 0px !important;
	}
	a[href="#top"]{
	    padding: 0px 0px 0px 0px;
	    position: fixed;
	    top: 90%;
	    right: 4px;
	    display:none;
	    font-size: 5px;
	    width: auto;
	    height: auto;
	}
	a[href="#top"]:hover{
		text-decoration: none;
	}
	a[href="#topPrincipal"]{
	    padding: 0px 0px 0px 0px;
	    position: fixed;
	    top: 90%;
	    right: 4px;
	    display:none;
	    font-size: 5px;
	    width: auto;
	    height: auto;
	}
	a[href="#topPrincipal"]:hover{
		text-decoration: none;
	}
	@-webkit-keyframes mov-animada {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	  }
	
	  to {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
	
	@keyframes mov-animada {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	  }
	
	  to {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
	.mov-animada {
	  -webkit-animation-name: fadeInLeft;
	  animation-name: fadeInLeft;
	}

	#messagemAlerta{
		display: block;
		position: fixed;
		top: 1%;
		left: 3%;
		right: 3%;
		max-width: 94%;
		z-index: 9999;
		margin: auto;
		box-shadow: 1px 1px 5px black;
	}
	.itemMenu{
		padding-top: 3px;
		padding-bottom: 2px;
		border-bottom:  3px solid #2e3136;
		margin-bottom: 3px !important;
	}
	.itemMenu:hover{
		color: #bfcce3;
		border-bottom:  3px solid #595f68;
		margin-bottom: 3px !important;
		background-color: #32383e !important;
	}
	.linkMenu {
		color: #e6e6e6;
	}
	.linkMenu:hover {
		text-decoration: none;
		color: #e6e6e6;
	}
	.itemMenuSair {
		font-size: 15px !important;
		padding-top: 2px;
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
	}
	.itemMenuSair:hover {
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
		background-color: #382e32!important;
	}
	#destacar-celular{
		z-index: 1000!important;
	}
	.cabecalhoPrincipal{
		padding-bottom: -10% !important;
	}
	.image-sigicop {
		position: relative;
		left: 0%;
		right: 0%;
		margin: 0;
		padding: 0;
		width: 70% !important;
	}
	.butaoIconTexto:hover  {
		color: rgba(10, 10, 10, 1);
	}
	.desaparecer-celular{
		display: none !important;
	}
	.aparecer-celular{
		display: initial !important;
	}
	.tituloCelular {
		font-size: 120%;
		display: block;
	}
	#tituloCelularModal{
		font-size: 80%;
		text-align: left;
		letter-spacing: 0.1;
		word-spacing: 0.5;
	}
	.font-size-celular{
		font-size: 80%;
	}
	.imagem-celular{
		width: 25px;
	}
	.imagem-logo {
		width: 30% !important;
	}
	.menu-celular{
		max-width: 30px !important;
	}
	.hei-input-celular{
		height: 30px;
	}
	.validacaoMsgm{
		font-family: Times New Romans;
		font-size: 70%;
		letter-spacing: 0.5px;
	}
	.ops{
		margin-top: -10% !important; 
		font-size: 140% !important;
	}
	.block-celular{
		display: block;
	}
	.botao-celular{
		width: 70%;
		height: 70%;
	}
	.botao-principal{
		font-size: 10px !important;
	}
	.listagemVazia {
		margin: 5% 10% 5% 10% !important;
		padding: 10% 5% 10% 5%!important;
	}
	.nenhumEncontrado {
		font-size: 120%;
	}
	.heightMin{
		min-height: 250px;
	}
	.t-filtro {
		margin: 0% 0% 0% 0.2%!important;
		padding: 0px;
		width: 96.6%!important;
		max-height: 20%!important;
		font-size: 80%;
		z-index: 1000;
	}
	
		/* Margins */
/* Margin-0-celular */
	
	.m-0-celular {
  		margin: 0 !important;
	}
	
	.mt-0-celular{
	  margin-top: 0 !important;
	}
	
	.mr-0-celular{
	  margin-right: 0 !important;
	}
	
	.mb-0-celular{
	  margin-bottom: 0 !important;
	}
	
	.ml-0-celular{
	  margin-left: 0 !important;
	}
	
/* Margin-1-celular */
	.m-1-celular {
	  margin: 0.25rem !important;
	}
	
	.mt-1-celular {
	  margin-top: 0.25rem !important;
	}
	
	.mr-1-celular {
	  margin-right: 0.25rem !important;
	}
	
	.mb-1-celular {
	  margin-bottom: 0.25rem !important;
	}
	
	.ml-1-celular {
	  margin-left: 0.25rem !important;
	}
	
/* Margin-2-celular */
	.m-2-celular {
	  margin: 0.5rem !important;
	}
	
	.mt-2-celular {
	  margin-top: 0.5rem !important;
	}
	
	.mr-2-celular {
	  margin-right: 0.5rem !important;
	}
	
	.mb-2-celular {
	  margin-bottom: 0.5rem !important;
	}
	
	.ml-2-celular {
	  margin-left: 0.5rem !important;
	}
	
/* Margin-3-celular */
	.m-3-celular {
	  margin: 1rem !important;
	}
	
	.mt-3-celular {
	  margin-top: 1rem !important;
	}
	
	.mr-3-celular {
	  margin-right: 1rem !important;
	}
	
	.mb-3-celular {
	  margin-bottom: 1rem !important;
	}
	
	.ml-3-celular {
	  margin-left: 1rem !important;
	}
	
/* Margin-4-celular */
	.m-4-celular {
	  margin: 1.5rem !important;
	}
	
	.mt-4-celular {
	  margin-top: 1.5rem !important;
	}
	
	.mr-4-celular{
	  margin-right: 1.5rem !important;
	}
	
	.mb-4-celular{
	  margin-bottom: 1.5rem !important;
	}
	.ml-4-celular {
	  margin-left: 1.5rem !important;
	}
/* Margin 5 */
	
	.m-5-celular {
	  margin: 3rem !important;
	}
	
	.mt-5-celular {
	  margin-top: 3rem !important;
	}
	
	.mr-5-celular {
	  margin-right: 3rem !important;
	}
	
	.mb-5-celular {
	  margin-bottom: 3rem !important;
	}
	
	.ml-5-celular {
	  margin-left: 3rem !important;
	}
/* Padding-celular-0 */
	.p-0-celular {
	  padding: 0 !important;
	}
	
	.pt-0-celular {
	  padding-top: 0 !important;
	}
	
	.pr-0-celular {
	  padding-right: 0 !important;
	}
	
	.pb-0-celular {
	  padding-bottom: 0 !important;
	}
	
	.pl-0-celular {
	  padding-left: 0 !important;
	}
/* Padding-celular-1 */
	.p-1-celular {
	  padding: 0.25rem !important;
	}
	
	.pt-1-celular {
	  padding-top: 0.25rem !important;
	}
	
	.pr-1-celular {
	  padding-right: 0.25rem !important;
	}
	
	.pb-1-celular {
	  padding-bottom: 0.25rem !important;
	}
	
	.pl-1-celular {
	  padding-left: 0.25rem !important;
	}
/* Padding-celular-2 */
	.p-2-celular {
	  padding: 0.5rem !important;
	}
	
	.pt-2-celular {
	  padding-top: 0.5rem !important;
	}
	
	.pr-2-celular {
	  padding-right: 0.5rem !important;
	}
	
	.pb-2-celular {
	  padding-bottom: 0.5rem !important;
	}
	
	.pl-2-celular {
	  padding-left: 0.5rem !important;
	}
/* Padding-celular-3 */
	.p-3-celular {
	  padding: 1rem !important;
	}
	
	.pt-3-celular {
	  padding-top: 1rem !important;
	}
	
	.pr-3-celular {
	  padding-right: 1rem !important;
	}
	
	.pb-3-celular {
	  padding-bottom: 1rem !important;
	}
	
	.pl-3-celular {
	  padding-left: 1rem !important;
	}
/* Padding-celular-4 */
	.p-4-celular {
	  padding: 1.5rem !important;
	}
	
	.pt-4-celular {
	  padding-top: 1.5rem !important;
	}
	
	.pr-4-celular {
	  padding-right: 1.5rem !important;
	}
	
	.pb-4-celular {
	  padding-bottom: 1.5rem !important;
	}
	
	.pl-4-celular {
	  padding-left: 1.5rem !important;
	}
/* Padding-celular-5 */
	.p-5-celular {
	  padding: 3rem !important;
	}
	
	.pt-5-celular {
	  padding-top: 3rem !important;
	}
	
	.pr-5-celular {
	  padding-right: 3rem !important;
	}
	
	.pb-5-celular {
	  padding-bottom: 3rem !important;
	}
	
	.pl-5-celular {
	  padding-left: 3rem !important;
	}
	
/* Margin-n1-celular */
	.m-n1-celular {
	  margin: -0.25rem !important;
	}
	
	.mt-n1-celular {
	  margin-top: -0.25rem !important;
	}
	
	.mr-n1-celular {
	  margin-right: -0.25rem !important;
	}
	
	.mb-n1-celular {
	  margin-bottom: -0.25rem !important;
	}
	
	.ml-n1-celular {
	  margin-left: -0.25rem !important;
	}
	
/* Margin-n2-celular */	
	.m-n2-celular {
	  margin: -0.5rem !important;
	}
	
	.mt-n2-celular{
	  margin-top: -0.5rem !important;
	}
	
	.mr-n2-celular {
	  margin-right: -0.5rem !important;
	}
	
	.mb-n2-celular {
	  margin-bottom: -0.5rem !important;
	}
	
	.ml-n2-celular {
	  margin-left: -0.5rem !important;
	}
	
/* Margin-n3-celular */	
	.m-n3-celular {
	  margin: -1rem !important;
	}
	
	.mt-n3-celular {
	  margin-top: -1rem !important;
	}
	
	.mr-n3-celular {
	  margin-right: -1rem !important;
	}
	
	.mb-n3-celular {
	  margin-bottom: -1rem !important;
	}
	
	.ml-n3-celular {
	  margin-left: -1rem !important;
	}
	
/* Margin-n4-celular */	
	.m-n4-celular {
	  margin: -1.5rem !important;
	}
	
	.mt-n4-celular {
	  margin-top: -1.5rem !important;
	}
	
	.mr-n4-celular {
	  margin-right: -1.5rem !important;
	}
	
	.mb-n4-celular {
	  margin-bottom: -1.5rem !important;
	}
	
	.ml-n4-celular {
	  margin-left: -1.5rem !important;
	}
	
/* Margin-n5-celular */	
	.m-n5-celular {
	  margin: -3rem !important;
	}
	
	.mt-n5-celular {
	  margin-top: -3rem !important;
	}
	
	.mr-n5-celular {
	  margin-right: -3rem !important;
	}
	
	.mb-n5-celular {
	  margin-bottom: -3rem !important;
	}
	
	.ml-n5-celular {
	  margin-left: -3rem !important;
	} 
/* h1 celular */
	.h1-celular{
		font-size: 120% !important;
	}
}

/**********************************************************************************************************************************/
/********************************************************tela de tablet***********************************************************/
/**********************************************************************************************************************************/
@media (min-width: 501px){ 
	@media (max-width: 749px){ 
		#layoutGeral {
			max-width: 100% !important;
			min-height: 60% !important;
			margin: 0px !important;
			padding: 0px !important;
			min-height: 580px !important;
		}
		#layoutMenu {
			width: 35% !important;
			height: 100% !important;
			min-height: 100% !important;
			max-width: 36% !important;
			min-width: 34% !important;
			margin: 0px !important;
			padding: 1px !important;
			background: #1b1c1d !important;
			position: fixed !important;
			z-index: 9999;
			font-size: 9px !important;
			font-weight: bold;
			display: none;
		}
		#abrirMenu {
			display: inline;
			position: fixed;
			height: 100%;
			z-index: 900;
			width: 25px;
			min-height: 100%;
			margin: 0px;
			padding-top: 30%;
			padding-bottom: 50%;
			border: 1px solid rgba(55, 55, 55, 0.1);
			background: rgba(55, 55, 55, 0.1);
		}
		#abrirMenu:hover {
			display: inline;
			position: fixed;
			height: 100%;
			z-index: 9900;
			width: 25px;
			min-height: 100%;
			margin: 0px;
			border: 1px solid rgba(55, 55, 55, 0.7);
			background: rgba(55, 55, 55, 0.3);
		}
		#fecharMenu {
			display: inline;
			width: 25px;
			min-height: 100%;
			margin: 0px;
			padding-top: 30%;
			padding-bottom: 50%;
			border: 1px solid rgba(55, 55, 55, 0.1);
			border-left: 1px solid rgba(55, 55, 55, 0.9);
			margin-left: 35%;
			background-image: linear-gradient(to right, rgba(55, 55, 55, 0.6), rgba(55, 55, 55, 0.4), rgba(55, 55, 55, 0.2)) !important;
			/* background: rgba(55, 55, 55, 0.1); */
			position: fixed;
			z-index: 9999;
		}
		#layoutConteudo {
			width: 100% !important;
			max-width: 100% !important;
			min-width: 99% !important;
			margin: 0px !important;
			padding: 0px !important;
			margin-left: 0px !important;
		}
		#layoutDeslogado {
			width: 100% !important;
			margin: 0px !important;
		}
		#messagemAlerta{
			display: block;
			position: fixed;
			top: 3%;
			width: 90% !important;
			margin-left: 5%!important;
			margin-right: 5%!important;
			z-index: 9999;
			box-shadow: 1px 1px 5px black;
	 	} 
	 	@-webkit-keyframes mov-animada {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	  }
	
	  to {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
	
	@keyframes mov-animada {
	  from {
	    opacity: 0;
	    -webkit-transform: translate3d(-100%, 0, 0);
	    transform: translate3d(-100%, 0, 0);
	  }
	
	  to {
	    opacity: 1;
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }
	}
	
	.mov-animada {
	  -webkit-animation-name: fadeInLeft;
	  animation-name: fadeInLeft;
	}
	.heightMin{
		min-height: 300px;
	}
	.itemMenu{
		padding-top: 3px;
		border-bottom:  3px solid #2e3136;
		margin-bottom: 3px !important;
		letter-spacing: 1px!important;
		word-spacing: 5px!important;
	}
	.itemMenu:hover{
		color: #bfcce3;
		border-bottom:  3px solid #595f68;
		margin-bottom: 3px !important;
		background-color: #32383e !important;
	}
	.linkMenu {
		color: #e6e6e6;
	}
	.linkMenu:hover {
		text-decoration: none;
		color: #e6e6e6;
	}
	.itemMenuSair {
		padding-top: 2px;
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
		font-size: 15px!important;
	}
	.itemMenuSair:hover {
		border-bottom:  1px solid #2e3136;
		margin-bottom: 1px !important;
		background-color: #382e32!important;
	}
	.validacaoMsgm{
		font-family: Times New Romans;
		font-size: 85%;
		letter-spacing: 0.5px;
	}
	img[id="topo"]{
		height: 50px;
		width: 50px;
	}
	.imagem-logo {
		width: 20%!important;
	}
	.ifrn-jc {
		font-size: 15px;
	}
	.hmx-75 {
		max-height: 90% !important;
	}
	.hmx-25 {
		max-height: 10% !important;
	}
	.validacaoMsgm{
		font-family: Times New Romans;
		font-size: 70%;
		letter-spacing: 0.5px;
	}
	.desaparecer-tablet {
		display: none !important;
	}
	.aparecer-tablet{
		display: initial !important;
	}
	.nomeAdminUser-tablet {
		font-size: 12px;
		letter-spacing: 1px;
		margin-bottom: 0px !important;
	}
	.listagemVazia {
		margin: 5% 10% 5% 10% !important;
		padding: 10% 5% 10% 5%!important;
	}
	.nenhumEncontrado {
		font-size: 150%;
	}
	.t-filtro {
		margin: 0% 0.4% 0% 0.4%!important;
		padding: 0px;
		width: 99%!important;
		z-index: 1000;
	}
	.imagem-logo-principal{
		width: 30%!important;
		margin-bottom: 0px;
	}
		/* Margins */
/* Margin-0-tablet */
	
	.m-0-tablet {
  		margin: 0 !important;
	}
	
	.mt-0-tablet{
	  margin-top: 0 !important;
	}
	
	.mr-0-tablet{
	  margin-right: 0 !important;
	}
	
	.mb-0-tablet{
	  margin-bottom: 0 !important;
	}
	
	.ml-0-tablet{
	  margin-left: 0 !important;
	}
	
/* Margin-1-tablet */
	.m-1-tablet {
	  margin: 0.25rem !important;
	}
	
	.mt-1-tablet {
	  margin-top: 0.25rem !important;
	}
	
	.mr-1-tablet {
	  margin-right: 0.25rem !important;
	}
	
	.mb-1-tablet {
	  margin-bottom: 0.25rem !important;
	}
	
	.ml-1-tablet {
	  margin-left: 0.25rem !important;
	}
	
/* Margin-2-tablet */
	.m-2-tablet {
	  margin: 0.5rem !important;
	}
	
	.mt-2-tablet {
	  margin-top: 0.5rem !important;
	}
	
	.mr-2-tablet {
	  margin-right: 0.5rem !important;
	}
	
	.mb-2-tablet {
	  margin-bottom: 0.5rem !important;
	}
	
	.ml-2-tablet {
	  margin-left: 0.5rem !important;
	}
	
/* Margin-3-tablet */
	.m-3-tablet {
	  margin: 1rem !important;
	}
	
	.mt-3-tablet {
	  margin-top: 1rem !important;
	}
	
	.mr-3-tablet {
	  margin-right: 1rem !important;
	}
	
	.mb-3-tablet {
	  margin-bottom: 1rem !important;
	}
	
	.ml-3-tablet {
	  margin-left: 1rem !important;
	}
	
/* Margin-4-tablet */
	.m-4-tablet {
	  margin: 1.5rem !important;
	}
	
	.mt-4-tablet {
	  margin-top: 1.5rem !important;
	}
	
	.mr-4-tablet{
	  margin-right: 1.5rem !important;
	}
	
	.mb-4-tablet{
	  margin-bottom: 1.5rem !important;
	}
	.ml-4-tablet {
	  margin-left: 1.5rem !important;
	}
/* Margin 5 */
	
	.m-5-tablet {
	  margin: 3rem !important;
	}
	
	.mt-5-tablet {
	  margin-top: 3rem !important;
	}
	
	.mr-5-tablet {
	  margin-right: 3rem !important;
	}
	
	.mb-5-tablet {
	  margin-bottom: 3rem !important;
	}
	
	.ml-5-tablet {
	  margin-left: 3rem !important;
	}
/* Padding-tablet-0 */
	.p-0-tablet {
	  padding: 0 !important;
	}
	
	.pt-0-tablet {
	  padding-top: 0 !important;
	}
	
	.pr-0-tablet {
	  padding-right: 0 !important;
	}
	
	.pb-0-tablet {
	  padding-bottom: 0 !important;
	}
	
	.pl-0-tablet {
	  padding-left: 0 !important;
	}
/* Padding-tablet-1 */
	.p-1-tablet {
	  padding: 0.25rem !important;
	}
	
	.pt-1-tablet {
	  padding-top: 0.25rem !important;
	}
	
	.pr-1-tablet {
	  padding-right: 0.25rem !important;
	}
	
	.pb-1-tablet {
	  padding-bottom: 0.25rem !important;
	}
	
	.pl-1-tablet {
	  padding-left: 0.25rem !important;
	}
/* Padding-tablet-2 */
	.p-2-tablet {
	  padding: 0.5rem !important;
	}
	
	.pt-2-tablet {
	  padding-top: 0.5rem !important;
	}
	
	.pr-2-tablet {
	  padding-right: 0.5rem !important;
	}
	
	.pb-2-tablet {
	  padding-bottom: 0.5rem !important;
	}
	
	.pl-2-tablet {
	  padding-left: 0.5rem !important;
	}
/* Padding-tablet-3 */
	.p-3-tablet {
	  padding: 1rem !important;
	}
	
	.pt-3-tablet {
	  padding-top: 1rem !important;
	}
	
	.pr-3-tablet {
	  padding-right: 1rem !important;
	}
	
	.pb-3-tablet {
	  padding-bottom: 1rem !important;
	}
	
	.pl-3-tablet {
	  padding-left: 1rem !important;
	}
/* Padding-tablet-4 */
	.p-4-tablet {
	  padding: 1.5rem !important;
	}
	
	.pt-4-tablet {
	  padding-top: 1.5rem !important;
	}
	
	.pr-4-tablet {
	  padding-right: 1.5rem !important;
	}
	
	.pb-4-tablet {
	  padding-bottom: 1.5rem !important;
	}
	
	.pl-4-tablet {
	  padding-left: 1.5rem !important;
	}
/* Padding-tablet-5 */
	.p-5-tablet {
	  padding: 3rem !important;
	}
	
	.pt-5-tablet {
	  padding-top: 3rem !important;
	}
	
	.pr-5-tablet {
	  padding-right: 3rem !important;
	}
	
	.pb-5-tablet {
	  padding-bottom: 3rem !important;
	}
	
	.pl-5-tablet {
	  padding-left: 3rem !important;
	}
	
/* Margin-n1-tablet */
	.m-n1-tablet {
	  margin: -0.25rem !important;
	}
	
	.mt-n1-tablet {
	  margin-top: -0.25rem !important;
	}
	
	.mr-n1-tablet {
	  margin-right: -0.25rem !important;
	}
	
	.mb-n1-tablet {
	  margin-bottom: -0.25rem !important;
	}
	
	.ml-n1-tablet {
	  margin-left: -0.25rem !important;
	}
	
/* Margin-n2-tablet */	
	.m-n2-tablet {
	  margin: -0.5rem !important;
	}
	
	.mt-n2-tablet{
	  margin-top: -0.5rem !important;
	}
	
	.mr-n2-tablet {
	  margin-right: -0.5rem !important;
	}
	
	.mb-n2-tablet {
	  margin-bottom: -0.5rem !important;
	}
	
	.ml-n2-tablet {
	  margin-left: -0.5rem !important;
	}
	
/* Margin-n3-tablet */	
	.m-n3-tablet {
	  margin: -1rem !important;
	}
	
	.mt-n3-tablet {
	  margin-top: -1rem !important;
	}
	
	.mr-n3-tablet {
	  margin-right: -1rem !important;
	}
	
	.mb-n3-tablet {
	  margin-bottom: -1rem !important;
	}
	
	.ml-n3-tablet {
	  margin-left: -1rem !important;
	}
	
/* Margin-n4-tablet */	
	.m-n4-tablet {
	  margin: -1.5rem !important;
	}
	
	.mt-n4-tablet {
	  margin-top: -1.5rem !important;
	}
	
	.mr-n4-tablet {
	  margin-right: -1.5rem !important;
	}
	
	.mb-n4-tablet {
	  margin-bottom: -1.5rem !important;
	}
	
	.ml-n4-tablet {
	  margin-left: -1.5rem !important;
	}
	
/* Margin-n5-tablet */	
	.m-n5-tablet {
	  margin: -3rem !important;
	}
	
	.mt-n5-tablet {
	  margin-top: -3rem !important;
	}
	
	.mr-n5-tablet {
	  margin-right: -3rem !important;
	}
	
	.mb-n5-tablet {
	  margin-bottom: -3rem !important;
	}
	
	.ml-n5-tablet {
	  margin-left: -3rem !important;
	} 
	}	
}