body {
	background-color: #fafaff;
}
/*body>.grid {
	height: 100%;
}
*/

.listaPped {
  background-color: #e2eef1;
}

#hora{
	color: white;
	font-family: sans-serif;
	font-weight: bolder;
	text-align:  right;
	position: relative;
	right: 2px;
}
.statusAguardando{
    color: white;
    font-weight: bold;
	background: #529fed;	
}

.statusConcluido{
	color: white;
	font-weight: bold;
	background: #5eed4e;
}

.statusRecusado{
    color: white;
	font-weight: bold;
	background:#ff3535;
}
.statusEntregue{
	color: white;
	font-weight: bold;
	background: #aeb7d2;
}
.image {
	margin-top: -100px;
}
.column {
	max-width: 450px;
}
#corMenu{
	background: #1b1c1d;
}
/*tela de tablet */
@media (max-width: 749px) { 
	@media (min-width: 501px){
#messagemAlerta{
	display: block;
	position: fixed;
	top: 10;
	left: 15%;
	right: 15%;
	width: 70%;
	padding-top: 10px;
	z-index: 9999;
	margin: 0 auto;
	box-shadow: 1px 1px 5px black;
}
#container {
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	height: 100%;
	padding: 10% 20% 20% 20%;
  }
#corpoCelular{	
 	margin-bottom: 5px;
 	margin-top: -50px;
 	margin-right: 0;
 	margin-left: 0;
}
.rodapeEmBaixo{	
	min-height:100%;
	position:relative;
	width:800px;
}
.heightMin{
	min-height: 460px;
}
.itemMenu{
	text-align: center;
	text-decoration: none;
	color: #e6e6e6;
	border-bottom:  3px solid #000000;
	padding: 4px;
	margin: 4px 4px 4px 4px;
}
.itemMenu:hover{
	text-align: center;
	text-decoration: none;
	color: #e6e6e6;
	border-bottom:  3px solid #529fed;
	margin: 4px 4px 4px 4px;
	padding-bottom: -10;
}
#concluidos:hover{
	border-bottom:  3px solid #92f88f;
	color: #92f88f;
}
#recusados:hover{
	border-bottom:  3px solid #ff5555;
	color: #ff5555;
}
.icon:hover  {
	color: #d3d3d3;
}
.corFiltro{
	background: #f2f8ff;
	padding: 5%;
	margin-left: 10%;
	margin-right: 10%;" 
}
.tituloCelular {
	font-size: 180%;
	display: block;
	}
.botaoArquivo{
	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
}
.centralizarEmTlabet{
	text-align: center;
}
}
}


