#{extends 'laySeg.html' /} 
#{set title:'Editar Senha' /}
<div id="corpoCelular" class="heightMin">
	<div class="container">
	<div class="h1 text-dark text-center tituloCelular">Alterar Senha</div><br>
	<div class="ui middle aligned center aligned grid">
		<div class="row">
		<div class="column">
			<div class="">
				<form action="@{Administradores.salvarSenha} " class="ui large form font-size-celular" method="post">
					<div class="ui stacked segment"><!-- cor branca do formulario -->
						<label for="inputSenhaAE" class="font-size-celular">Senha:</label>
						<span id="validarSeA"></span>
#{if seis}	
						<span id="validacaoServidorEditSenha" class="alert-danger shadow-sm rounded p-0 font-size-celular validacaoMsgm">${seis}</span>
#{/if}
						<input type="password" name="senha" placeholder="Senha" class="form-control hei-input-celular font-size-celular" 
						autofocus=""  id="inputSenhaAE" onchange="validarSenhaAdmEditar()">
						<label for="confirmar" class="mt-2 font-size-celular">Confirmar Senha:</label>
						<span id="Comparar"></span>
#{if seis}	
						<span id="validacaoSevidorEditSenhaCom" class="alert-danger shadow-sm rounded p-0 font-size-celular validacaoMsgm">${seis}</span>
#{/if}
						<input type="password" name="confirmarSenha" placeholder="Confirmar Senha" 
						class="form-control hei-input-celular font-size-celular" id="confirmar" onchange="validarSenhaAdmEditar()" >
						<input type="submit" class="btn btn-md btn-primary btn-block mt-3 font-size-celular" value="Editar Senha"  />
					</div>
				</form>
			</div>
		</div>
	</div>
		<div class="ui stacked segment pt-2 pb-3 mt-2 mb-1 text-center" style="min-width: 55%;">
				<a href="@{Administradores.editar}" class="mt-1 mb-1 text-decoration-none">voltar a página de edição</a>
		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
function validarSenhaAdmEditar(){
	var senha = document.getElementById("inputSenhaAE").value;
	var confirmarSenha = document.getElementById("confirmar").value;
	
	// comparar senha
	if (confirmarSenha.length < 6) {
        console.log("A senhaComparar precisa ter pelo menos seis caracteres.");
        document.getElementById("confirmar").style = 'border-color: #dc3545;' // vermelho
	 	document.getElementById("Comparar").innerHTML = '<span class="alert-danger shadow-sm rounded p-0 font-size-celular validacaoMsgm">no mínino 6 caracteres</span>';
#{if seis}
	 	document.getElementById("validacaoSevidorEditSenhaCom").style = 'display: none;'
#{/if}
	}else{
		document.getElementById("confirmar").style = 'border-color: #28a745;';
 		document.getElementById("Comparar").innerHTML = '<span style="display: none;"></span>';
#{if seis}
	 	document.getElementById("validacaoSevidorEditSenhaCom").style = 'display: none;'
#{/if}
	} 
	// senha
 	if (senha.length < 6) {
		console.log("A senha precisa ter pelo menos seis caracteres.");
		document.getElementById("inputSenhaAE").style = 'border-color: #dc3545;' // vermelho
	 	document.getElementById("validarSeA").innerHTML = '<span class="alert-danger shadow-sm rounded p-0 font-size-celular validacaoMsgm">no mínino 6 caracteres</span>';
#{if seis}
 		document.getElementById("validacaoServidorEditSenha").style = 'display: none;'
#{/if}
	}else{
 		document.getElementById("inputSenhaAE").style = 'border-color: none;';
 		document.getElementById("validarSeA").innerHTML = '<span style="display: none;"></span>';
#{if seis}
 		document.getElementById("validacaoServidorEditSenha").style = 'display: none;';
#{/if}
 		document.getElementById("inputSenhaAE").style = 'border-color: #28a745;';
	}
	// se a senha é compativel com confirmação senha
	if (senha != '' & confirmarSenha != '' & senha != confirmarSenha) {
	 	document.getElementById("validarSeA").innerHTML = '<span class="alert-danger shadow-sm-sm rounded p-0 font-size-celular validacaoMsgm">inconpatível</span>';
	 	document.getElementById("Comparar").innerHTML = '<span class="alert-danger shadow-sm rounded p-0 font-size-celular validacaoMsgm">inconpatível</span>';
	 	document.getElementById("confirmar").style = 'border-color: #dc3545;' // vermelho
#{if seis}
	 	document.getElementById("validacaoSevidorEditSenhaCom").style = 'display: none;'
#{/if}
	}else if(senha == confirmarSenha & senha.length > 0 & confirmarSenha.length > 0){
	 	document.getElementById("validarSeA").innerHTML = '<span class="alert-success shadow-sm-sm rounded p-0 font-size-celula validacaoMsgmr"><i class="check icon m-0"></i></span>';
	 	document.getElementById("Comparar").innerHTML = '<span class="alert-success shadow-sm rounded p-0 font-size-celular validacaoMsgm"><i class="check icon m-0"></i></span>';
	 	document.getElementById("confirmar").style = 'border-color: #28a745;';
	}
}
</script>