#{extends 'laySeg.html' /} 
#{set title:'Pagina Do Administrador' /}
<div id="corpoCelular" class="heightMin">
	<div class="text-center">
	<div class="h1 text-dark text-center">Lista de Pedidos em Espera</div>
	</div>
		<br />
#{if listaPedidosPa.size() == 0}
		<div class="text-center">
		<div class="h1 text-primary text-center">(Nenhum pedido em Espera)</div>
		</div>
#{/if} 
#{if listaPedidosPa != null}
		<div class="row">
  		<div class="col">
    	<div class="collapse multi-collapse" id="multiCollapseExample1">
      	<div class="card card-body">
#{if listaPedidosPa.size() > -1}
<form action="@{Administradores.paginaAdmin}" method="post">
	<fieldset class="corFiltro shadow-lg rounded">
        <legend>Filtrar Por:</legend>
		<div class="form-row">
    	<div class="form-group col-md-6">
    	<label for="matriculaDoUsuarioFiltro">Matricula do Usuário:</label>
		<input type="text" name="matriculaDoUsuarioFiltro" class="form-control" placeholder="Matricula do usuario" id="matriculaDoUsuarioFiltro" maxlength="100" value="${matriculaDoUsuarioFiltro}">
    	</div>
    	<div class="form-group col-md-6">
    	<label for="nomeDoArquivoFiltro">Nome do Arquivo:</label>
		<input type="text" name="nomeDoArquivoFiltro" class="form-control" placeholder="Nome do Arquivo" id="nomeDoArquivoFiltro" maxlength="100" value="${nomeDoArquivoFiltro}">
    	</div>
  		</div>
 		<div class="text-center"">
  		<button type="submit" class="btn btn-primary icon">Filtrar <i class="filter icon"></i></button>
  		<button type="reset" class="btn btn-danger icon">Limpar <i class="eraser icon"></i></button>
	 	</div>
	 	</fieldset>
	</form>
<br><br>
#{/if}
		</div>
    	</div>
  		</div>
  		</div>	
		<div class="container">
 		<div class="row">
#{list items:listaPedidosPa, as:'p'}
   		<div class="col-lg-6">
		<div class="card text-white bg-dark mb-3" style="max-width: 100%;">
		<div class="card-header text-center">
		<h6 class="text-primary">Usuario:</h6>
${p.usuario.nomeUsu}<br />
		<h6 class="text-primary">Matricula:</h6>
${p.usuario.matricula}
		</div>
		<div class="card-body">
		<div class="card-text">
		<b>Arquivo: </b> ${p.nomeArquivo}
		</div>
		<div class="card-text">
		<b>Quantidade de Copias: </b> ${p.qtdCopias}
		</div>
		<div class="card-text">
		<b>Frente ou verso : </b> ${p.frenteVerso}
		</div>
		<div class="card-text">
#{if p.descricao} <b>Descricao: </b> ${p.descricao} #{if p.descricao = ""}[sem descricao] #{/if}<br />
#{/if}
		</div>
		<div class="card-text">
		<b>Status: </b>
		<div class=" text-center roundedc statusAguardando"> ${p.status}</div>
		</div>
		<div class="card-text">
		<b>Data de Envio: </b> ${p.dataEnvio}
		</div>
		<div class="card-text text-center">
		<a href="@{Administradores.download(p.id)}" class="btn btn-primary m-1 icon">Fazer Download<i style="float: right; margin: 1px;" class="download icon"></i></a>
		<div class="sticky-top">
		<span class="btn btn-success mt-1 mb-1 ml-0 mr-0 icon" >
		<a class="concluir" data-item="${p.id}" href="#" style="font-size: auto; text-decoration: none; font-size: 85%;; color: white; margin: 0px;" >Concluir <i style="float: right; margin: 0;" class="check icon"></i></a>
		</span>
		<span class="btn btn-danger mt-1 mb-1 ml-0 mr-0 icon" >
		<a class="recusar" data-item="${p.id}" href="#" style="font-size: auto; text-decoration: none;font-size: 85%;; color: white; margin: 0px;">Recusar<i style="float: right; margin: 0;" class="x icon"></i> </a>
		</span>
		<!-- onMouseOver="this.style='color: black; font-size: medium; text-decoration: none; color: white;'" 
		onMouseOut="this.style='color: color: white; font-size: medium; text-decoration: none; color: white;'" -->
		</div>
		</div>
		</div>
		</div>
 		</div>
#{/list}
		</div>
		</div>
#{/if}
</div>
<form id="con" action="@{Pedidos.concluido}">
	<input type="hidden" id="idPedCon" name="idPedCon" />
	<input type="hidden" id="resposta" name="resposta" />
</form>
<form id="recusa" action="@{Pedidos.recusar}">
	<input type="hidden" id="idPed" name="idPed" />
	<input type="hidden" id="motivo" name="motivo" />
</form>
<form id="formRestaurar" action="@{Usuarios.restaurarQtd}">
	<input type="hidden" name="qtd" value="${qtd}" id="restQtd">
</form>
<script type="text/javascript">
	$(document).ready(function () {
	    setTimeout(function () {
	        window.location.reload(1);
	    }, 180000); //tempo em milisegundos. Neste caso, o refresh vai acontecer de 5 em 5 segundos.
	});
</script>
<script type="text/javascript">
$(document).ready(function(){
	$(".recusar").click(function() {
		var idPedido = $(this).data("item");
		
		Swal.fire({
			  title: 'Motivo da recusa:',
			  input: 'textarea',
			  inputPlaceholder: 'descreva o motivo do pedido ser recusado',
			  inputAttributes: {
			    'aria-label': 'Type your message here'
			  },
			  showCloseButton: true,
			  showCancelButton: true
		}).then((result) => {
			if(result.value == ""){
				Swal.fire({
					  icon: 'error',
					  title: 'ERROR...',
					  text: 'preencha o motivo!',
					  footer: '<a href>Limpar e tentar novamente</a>',
					  showCloseButton: true
					})
								}
			if (result.value) {
				$('#idPed').val(idPedido);
				$('#motivo').val(result.value);
				$('#recusa').submit();
			}
		})
	});

	$(".concluir").click(function() {
		var idPedido = $(this).data("item");
		
		Swal.fire({
			  title: 'Mensagem de conclusão:',
			  input: 'textarea',
			  inputPlaceholder: 'digite alguma mensagem complementar',
			  inputAttributes: {
			    'aria-label': 'Type your message here'
			  },
			  showCloseButton: true,
			  showCancelButton: true
		}).then((result) => {
			if(result.value == ""){
				result.value = ".";
				}
			if (result.value) {
				$('#idPedCon').val(idPedido);
				$('#resposta').val(result.value);
				$('#con').submit();
			}
		})
	});
});
</script>
