<!DOCTYPE html>
<html>
	<head>
		<title>#{get 'title' /}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- ICONE  -->
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/icones/S.png'}">
<!-- CSS PADRÔøΩO -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<!-- JAVASCRIPT PADRAO -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		
<!-- JS JQUERY -->
		<script src="@{'/public/javascripts/jquery.mask.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
<!-- BOOTSTRAP - CSS -->
		<link rel="stylesheet" type="text/css" href="@{'/public/bootstrap/css/bootstrap.css'}">
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!-- BOOTSTRAP JS -->
		<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="@{'/public/bootstrap/js/bootstrap.bundle.min.js'}"></script>
<!-- SEMANTIC - CSS -->
		<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/icon.css'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/grid.css'}"><!-- rodape utilizar-->
		<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/header.css'}"><!-- utilizado em login  -->
		<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/segment.css'}"><!-- rodape utilizar-->
		<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/button.css'}">
	 	<link rel="stylesheet" type="text/css" href="@{'/public/Semantic/css/meuCss.css'}">
<!-- SEMANTIC JS -->
		<!--  <script src="@{'/public/Semantic/js/icons.js'}"/></script>-->
		<script src="@{'/public/Semantic/js/semantic.js'}"/></script>
<!-- UIKIT CSS -->
 		<link rel="stylesheet" href="@{'/public/uikit/css/uikit.css'}" />
<!-- UIKIT JS -->
        <script src="@{'/public/uikit/js/uikit.min.js'}"/></script>
        <script  src="@{'/public/uikit/js/uikit-icons.min.js'}"></script>
<!-- CSS PERSONALIZADO  -->
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/meuCss/computador.css'}">  
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/meuCss/celular.css'}">     
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/meuCss/tablet.css'}">     
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/animate.css'}">     
		           
<!-- JS PERSONALIZADO  -->  
<!-- DIALOGS DE SWEETALERT2 -->
 		<script src="@{'/public/javascripts/meuJs/sweetalert2@9.js'}"></script>
<!-- CHAMAR DIALOGS DO SWEETALERT2 -->
		<script src="@{'/public/javascripts/meuJs/dialogs.js'}"></script>
</head>
<body onload="time()">
<!-- MENU E CABEÔøΩALHO EM TELA DE COMPUTADOR E EM CELULAR-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="corMenu" style="min-height: 10%;">
#{if !session.contains("adminLogado") & !session.contains("usuarioLogado")}
	<div class="telaCellSigicop">
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08"
		aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
			<img src="@{'/public/images/icones/menuIcone.png'}" width="30" height="30">
		<!-- <span class="navbar-toggler-icon"></span> -->
		</button>
	</div>
#{/if}
#{else}
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08"
		aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
		<img src="@{'/public/images/icones/menuIcone.png'}" width="30" height="30">
		<!-- <span class="navbar-toggler-icon"></span> -->
	</button>
#{/else}
	<a class="ui inverted basic" href="@{Gerenciador.principal}">
		<img src="@{'/public/images/icones/casa.png'}" width="40" height="40" style="float: left;" title="Home" />
	</a>
	<div class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08">
		<div class="telaCellSigicop">
#{if !session.contains("adminLogado") && !session.contains("usuarioLogado")}
			<div class="text-center">
				<img src="@{'/public/images/sigicop/SIGICOPs.jpg'}" width="100" height="45" style="margin: 0% 0% 0% 0%; max-width: 100%;"/>
			</div>
#{/if}
		</div>
		<ul class="navbar-nav">
#{if session.contains("adminLogado")}
			<div class="sticky-top">
#{if admBanco?.admPadrao}
		<!-- VEREFICAR SE ÔøΩ O ADMIN PADRAO -->
				<span> <a title="Adicionar Admin" href="@{Administradores.cadastroDeAdms}" class="addAdm" style="padding: 0px; float: left;">
					<img class="itemMenu m-0" src="@{'/public/images/icones/adminAdd.png'}" onMouseOver="this.src='@{'/public/images/icones/adminAddHover.png'}'"
					onMouseOut="this.src='@{'/public/images/icones/adminAdd.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
				</a>
				</span>
#{if listaAdmins}
		  		<span>
		  			<a title="filtrar Admins" style="padding: 0px; float: left;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
						<img class="itemMenu m-0"" src="@{'/public/images/icones/adminFiltro.png'}" onMouseOver="this.src='@{'/public/images/icones/adminFiltroHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/adminFiltro.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
					</a>
				</span>
#{/if}
#{else}
				<span>
					<a title="listar Admins" href="@{Administradores.listarTodosAdmins}" class="addAdm" style="padding: 0px; float: left;">
						<img class="itemMenu m-0"" src="@{'/public/images/icones/adminListar.png'}" onMouseOver="this.src='@{'/public/images/icones/adminListarHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/adminListar.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
					</a>
				</span>
#{/else}
				<span>
					<a title="Restaurar qtd" href="#" class="addAdm" style="padding: 0px; float: left;" id="restaurar">
						<img class="itemMenu m-0"" src="@{'/public/images/icones/restaurar.png'}" onMouseOver="this.src='@{'/public/images/icones/restaurarHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/restaurar.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
					</a>
				</span>
#{/if}
#{if filtroPa && listaPedidosPa || listaPedidosPa != null}
				<span>
		  			<a title="filtrar Pedidos" style="padding: 0px; float: left;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
						<img class="itemMenu m-0"" src="@{'/public/images/icones/filtro.png'}" onMouseOver="this.src='@{'/public/images/icones/filtroHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/filtro.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
					</a>
				</span>
#{/if}
#{if !listaDeUsuario}
				<span>
		  			<a title="realizar baixa" href="@{Administradores.realizarPedido}" class="addAdm" style="padding: 0px; float: left;">
						<img class="itemMenu m-0"" src="@{'/public/images/icones/baixa.png'}" onMouseOver="this.src='@{'/public/images/icones/baixaHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/baixa.png'}'" height="45" style="float: left; margin-right: 5px;" alt="addAdmin" />
					</a>
				</span>
#{/if}
	
			</div>
#{if telaAdmin}
			<a href="@{Administradores.paginaAdmin}" class="itemMenu m-0">P√°gina Admin</a>
#{/if}
#{if listaconcluidos}
	  		<a class="itemMenu" id="concluidos" style="margin: 1px; margin-right: 5px;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">filtrar <i class="filter icon"></i></a>
#{/if}
#{else}
			<a href="@{Pedidos.listarConcluidos}" class="itemMenu m-0" id="concluidos">Concluidos</a>
#{/else}
#{if listaRecusados}
	  		<a class="itemMenu" id="recusados" style="margin: 1px; margin-right: 5px;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">filtrar <i class="filter icon"></i></a>
#{/if}
#{else}
			<a href="@{Pedidos.listarRecusados}" class="itemMenu m-0" id="recusados">Recusados</a>
#{/else}
#{/if}
#{if session.contains("adminLogado")}
			<span class="border rounded p-0">
				<span id="dadosAdmin">
					<a href="#Meus_Dados" style="padding: 0px;"> <!--  class="rounded-pill"-->
						<img title="Meus Dados" src="@{'/public/images/icones/admin.png'}" onMouseOver="this.src='@{'/public/images/icones/adminHover.png'}'" 
						onMouseOut="this.src='@{'/public/images/icones/admin.png'}'" height="40" style="float: left; margin-right: 3px;" alt="addAdmin" />
					</a>
					<span class="text-white mr-0 mt-0 text-md" style="position: relative; top: 8px; max-width: 60%;" id="nomeAdmin"></span>
				</span>
				<span class="float-right">
					<a href="@{Administradores.sair}" style="margin: 1px;" class="btn btn-danger icon">Sair <i class="sign out alternate icon" style="margin: 0;"></i></a>
				</span>
			</span>
#{/if}
#{if session.contains("usuarioLogado")}
#{if solicitar}
	 		<a href="@{Pedidos.fazerPedido}" style="margin: 1px; margin-right: 5px;" class="itemMenu">Solicitar</a>
	  		<a class="itemMenu" style="margin: 1px; margin-right: 5px;" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">filtrar <i class="filter icon"></i></a>
#{/if}
#{if voltar}
	 		<a href="@{Usuarios.paginaUsuario}" style="margin: 1px; margin-right: 5px;" class="itemMenu">Voltar</a>
#{/if}
		 	<span class="border rounded p-0">
				<span id="dadosUser">
					<a href="#Meus_Dados"  style="padding: 0px;">
						<img title="Meus Dados" src="@{'/public/images/icones/user.png'}" onMouseOver="this.src='@{'/public/images/icones/userHover.png'}'"
						onMouseOut="this.src='@{'/public/images/icones/user.png'}'" height="40" style="float: left; margin-right: 3px;" alt="user" />
				<!-- <img src="" height="40" style="float: left; margin-right: 5px;" alt="userLogado" class="mt-1"/> -->	
					</a>
					<span class="text-white mr-0 mt-0 text-md" style="position: relative; top: 8px; max-width: 60%;" id="nomeUsuario"></span>
				</span>
				<span class="float-right">
					<a href="@{Usuarios.sair}" style="margin: 1px;" class="btn btn-danger icon">Sair <i class="sign out alternate icon" style="margin: 0;"></i></a>
				</span>
			</span>
#{/if}
		</ul>
	</div>
#{if session.contains("adminLogado") || session.contains("usuarioLogado")}
	<div id="time" class="text-white m-0" id="hora" ></div>
#{/if}  		
</nav>
<div class="text-center">
<!-- FLASH DE ERRO E SUCESSO -->
#{if flash.error}
	<div class="uk-alert-danger" uk-alert class="messagemDeAlerta" id="messagemAlerta">
   		<a class="uk-alert-close" uk-close></a>
   		<p>${flash.error}</p>
	</div>
#{/if} 
#{if flash.success}
	<div class="uk-alert-success" uk-alert class="messagemDeAlerta" id="messagemAlerta">
    	<a class="uk-alert-close" uk-close></a>
   		<p>${flash.success}</p>
	</div>
#{/if}
</div>
<!-- CORPO DA PAGINA -->
 <div id="container">
#{doLayout /}
</div>
<!-- RESTAURA EM QUALQUER PAGINA DO ADMIN-->
<form id="formRestaurar" action="@{Usuarios.restaurarQtd}">
	<input type="hidden" name="qtd" value="${qtd}" id="restQtd">
</form>
<!-- RODAPÔøΩ DA PAGINA -->
<div class="position-bottom w-100" id="rodapeCelular" class="rodapeEmBaixo">
 	<div class="ui inverted vertical footer segment" class="dark">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="three wide column">
					<h4 class="ui inverted header">Sobre:</h4>
					<div class="ui inverted link list">
						<a href="https://github.com/MagdielPS/SIGICOP" target="_blank">
							<div  class="sticky-top">
								<img src="@{'/public/images/icones/gitHub.png'}" onMouseOver="this.src='@{'/public/images/icones/gitHover.png'}'"  
								onMouseOut="this.src='@{'/public/images/icones/gitHub.png'}'" height="30" style="float: left; margin-right: 5px;" alt="GitHub" title="GitHub" />
								<h4 class="text-white">SIGICOP</h4>
							</div>
						</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Contatos:</h4>
					<div class="ui inverted link list">
						<a href="#"  class="text-decoration-none" id="tamanhoTextoCelular">+55 (84) 988122176</a> 
						<br>
						<a href="#" class="text-decoration-none" id="tamanhoTextoCelular">+55 (84) 994333803</a> 
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">E-mails:</h4>
					<a href="#" class="text-decoration-none" id="tamanhoTextoCelular">magdiel.pereira@escolar.ifrn.edu.br</a> <!-- data-toggle="tooltip" data-html="true" title="<div class='media'><div class='media-body'><img src='@{'/public/images/passoApasso/IFJC.png'}' width='100%' /></div></div>" -->
					<a href="#" class="text-decoration-none" id="tamanhoTextoCelular">manacio.p@escolar.ifrn.edu.br</a> 
				</div>
			</div>
		</div>
	</div>
</div>
<!-- JS DA PAGINA -->
<!-- MESSAGEM DE ALERTA -->
<script type="text/javascript">
$().ready(function() {
		setTimeout(function () {
			$('#messagemAlerta').hide(); // "messagemAlerta" ÔøΩ o id do elemento que seja manipular.
		}, 2000); // O valor e representado em milisegundos.
});
</script>
<!-- MASCARA DE CAMPOS -->
<script type="text/javascript">
    $('#telefone, #matriculaDoUsuarioFiltro').mask('(00) 0000-0000');
    $('#matriculaDoUsuarioFiltro').mask('00000000000000');
    $('#qtdCopiasFiltro').mask('00');
    $('#dataEnvio').mask('00/00/0000');
    $('#dataEnvtrega').mask('00/00/0000');   	
</script>
<script type="text/javascript">
$(document).ready(function() {
//DIALOGS COM DADOS DO USUARIO
	$("#dadosUser").click(function () {
			Swal.fire({
			  position: 'top',
			  icon: '',
			  html: '<div class="tituloCelularModal"><i class="address card outline icon m-0 p-0 border-0"></i> Meus Dados </div>'+
			  '<div class="text-left textoDados">Usuario: ${usuarioBanco?.nomeUsu} <br> Email: ${usuarioBanco?.email}'+
			  '<br>  Quantidade de Copias disponiveis: ${usuarioBanco?.qtdDisponivel} #{if usuarioBanco?.ultimoAcessoUsu}'+
			  '<br> Ultimo acesso: ${usuarioBanco?.ultimoAcessoUsu?.format("dd/MM/yyyy HH:mm:ss")}#{/if}</div>',
			  showCloseButton: true,
			  showConfirmButton: false,
			  showClass: {
				  popup: 'animated fadeInDown faster'
			  },
			  hideClass: {
				  popup: 'animated fadeOutUp faster'
			  }
		})
	});
//DIALOGS COM DADOS DO ADMIN
	$("#dadosAdmin").click(function () {
		Swal.fire({
			  position: 'top',
			  icon: '',
			  html: '<div class="text-left sticky-top h3"><i class="address card icon m-0 p-0 border-0"></i>Meus Dados <a href="@{Administradores.editar}" class="btn m-0 ml-2" style="background-color: #529fed;">Editar</a></div>'+
			  '<div class="text-left textoDados">Administrador: ${admBanco?.nomeAdm} <br> Email: ${admBanco?.email}'+
			  ' <br> #{if admBanco?.ultimoAcesso} Ultimo acesso: ${admBanco?.ultimoAcesso?.format("dd/MM/yyyy HH:mm:ss")} #{/if}',
			  showCloseButton: true,
			  showConfirmButton: false,
			  showClass: {
				  popup: 'animated fadeInDown faster'
			  },
			  hideClass: {
				  popup: 'animated fadeOutUp faster'
			  }
		})
	});
//DIALOGS COM AVISOS E PREENCHIMENTO DE MENSAGENS 		
	$("#restaurar").click(function() {
		Swal.fire({
			scrollbarPadding: true,
			html: '<div id="tituloCelularModal">Tem certeza que deseja restaurar a disponibilidade de solicita√ß√µes de todos os usu√°rios? <br/>'+
				  'lembre-se que essa fun√ß√£o s√≥ √© recomendada em inicio de cada m√™s</div>',
			icon: 'question',
			input: 'number',
			inputAttributes: {
				    min: '0',
				    max: '50'
			},
			showCancelButton: true,
			confirmButtonColor: '#21ac0d',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Ok',
			showCloseButton: true,
			showClass: {
				    popup: 'animated fadeInDown faster'
			},
			hideClass: {
				    popup: 'animated fadeOutUp faster'
			}
		}).then((result) => {
			if (result.value) {	
				$('#restQtd').val(result.value);
				$('#formRestaurar').submit(); 
			}
		})
	});
});
</script>
<!-- DIALOGS COM AVISOS E/OU COM PREENCHIMENTO DE MENSAGENS -->
<script type="text/javascript">
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	  $('#example').tooltip({ boundary: 'window' })
	})

function time(){
today=new Date();
h=today.getHours();
m=today.getMinutes();
s=today.getSeconds();
	if(h <10){
		h = "0"+h;
	}
	if(m<10){
		m = "0"+m;
	}
	if(s<10){
		s = "0"+s;
	}
	document.getElementById('time').innerHTML=h+":"+m+":"+s;
	setTimeout('time()',500);

var width = window.innerWidth;
var nomeUsuarioCompleto = '${session['usuarioLogado']}';
var nomeAdminCompleto = '${session['adminLogado']}';

if(${session.contains("usuarioLogado")}){
	 if(width < 400){
		 var nome = nomeUsuarioCompleto.split(' ')[0];// separar str por espaÁos
		 var sobreNome = nomeUsuarioCompleto.split(' ')[1];// separar str por espaÁos
		 var primeiraLetra = sobreNome.substr(0, 1)
		 const celular = "celular";
		 console.log(nome+" "+sobreNome);
		 document.getElementById('nomeUsuario').innerHTML = nome+" "+primeiraLetra+".";
	 }else{
		 var nome = nomeUsuarioCompleto.split(' ')[0];// separar str por espaÁos
		 var sobreNome = nomeUsuarioCompleto.split(' ')[1];// separar str por espaÁos
	
		 console.log(nome+" "+sobreNome);
		 document.getElementById('nomeUsuario').innerHTML = '${session['usuarioLogado']}';
	 }
}
if(${session.contains("adminLogado")}){
	 if(width < 400){
		 var nome = nomeAdminCompleto.split(' ')[0];// separar str por espaÁos
		 var sobreNome = nomeAdminCompleto.split(' ')[1];// separar str por espaÁos
		 var primeiraLetra = sobreNome.substr(0, 1)
	
		 console.log(nome+" "+sobreNome);
		 document.getElementById('nomeAdmin').innerHTML = nome+" "+primeiraLetra+".";
	 }else{
		 var nome = nomeAdminCompleto.split(' ')[0];// separar str por espaÁos
		 var sobreNome = nomeAdminCompleto.split(' ')[1];// separar str por espaÁos
	
		 console.log(nome+" "+sobreNome);
		 document.getElementById('nomeAdmin').innerHTML = '${session['adminLogado']}';
	 }
}
}
</script>
<script type="text/javascript"> 
document.getElementById("limpar").addEventListener("click", function() {
	  clearInputUrlNumberText("NomeDoArquivoFiltro");
	  clearInputUrlNumberText("descricaoFiltro");
	  clearInputUrlNumberText("matriculaDoUsuarioFiltro");
	  clearInputUrlNumberText("nomeDoArquivoFiltro");
	  clearInputUrlNumberText("emailDoAdminFiltro");
	  clearInputUrlNumberText("nomeDoAdminFiltro");
	});

	function clearInputUrlNumberText(name) {
	  var entradas = document.querySelectorAll("input[id='"+name+"']");
	  [].map.call(entradas, entrada => entrada.value = '');
	}
</script>
</body>
</html>

		

