#{extends 'layPri.html' /} 
#{set title:'SIGICOP-Sistema de Gerenciamento de Impressoes e Copias' /}
<div class="text-left font-size-celular">
	<div class="h1 text-center text-primary">SIGICOP</div>
	<!-- <div class="text-center">
		<img class="rounded-circle" src="@{'/public/images/passoApasso/IFJC.png'}"
		style="max-width: 100%; float: left;" width="45%" height="30%"/>
	</div> -->
	<p class="text-break text-justify" style="text-indent: 1cm;">
	A SIGICOP é um projeto de conclusão do curso subsequente em informática, realizado por Magdiel 
	Pereira de Souza e por Manacio Pereira de Souza. A SIGICOP é um sistema de gerenciamento de cópias 
	e impressões, que facilite e agilize a demanda de impressões e cópias do IFRN-CAMPUS-JC, onde o 
	usuário possa ter controle sobre a quantidade de solicitacão disponíveis e o administrador possar 
	gerenciar as solicitacões.
	</p>
	<div class="h1 text-justify text-primary h1-celular">passo a passo do usuário 
		<img alt=""	src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<ul class="m-0">
		<li>
			<p>
				O usuário deverá acessar o site da SIGICOP;
			</p>
		</li>
		<li>
			<p>
				Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";
			</p>
		</li>
		<li>
			<p>
				Se caso o usuário ainda não seja cadastrado, deverá se cadastrar clicando em "Cadastra-se", 
				preencher o formulário e salvar os dados;
			</p>
		</li>
		<li>
			<p>
				Ao entrar na página de login, fornecer o login e senha para entrar no sistema;
			</p>
		</li>
		<li>
			<p>
				O usuário ao logar, poderá visualizar seus pedidos anteriores (se houver), e poderá filtra-los 
				e efetuar download do arquivo enviado e poderá efetuar download do relatório do pedido entregue (se houver);
			</p>
		</li>
		<li>
			<p>
				Em "Meus Dados" (icone de usuário<img title="icone de usuario" src="@{'/public/images/icones/user.png'}"
				width="30" class="bg-dark p-0 pr-1 ml-1">
				<span class="bg-success text-white rounded-circle" style="width: 4px; height: 4px; padding: 3px!important; 
				line-height: 3px; text-align: center;font-size: 8px !important;  position: relative; bottom: 8px; right: 17px; margin-right: -17px;">
				20</span>) poderá visualizar 
				a quantidade disponível de solicitações, clicando poderá vizualizar seu nome, email e ultimo acesso(se houver);
			</p>
		</li>
		<li>
			<p>
				O usuário poderá solicitar pedidos de impressões, ao solicitar, se houver solicitações disponível, 
				aparecerá o formulário, se não, aparecerá mensagem de alerta que informará que não é possivel efetuar 
				nenhuma solicitação;
			</p>
		</li>
		<li>
			<p>
				Ao solicitar, os pedido serão listado ao lado do formulário, onde o usuário poderá cancelar e 
				salvar quando quiser;
			</p>
		</li>
		<li>
			<p>
				Após logar, o usuário poderá sair a qualquer momento;
			</p>
		</li>			
	</ul>
	<div class="h2 text-justify text-primary mt-3 h1-celular">Icones do menu do usuário 
		<img alt=""	src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<ul class="m-0">
		<li class="mt-2">
			<p>
				<img title="realizar cópia" src="@{'/public/images/icones/pedUsuHover.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #92f88f;">
				<span class="notificacao statusConcluido text-white font-size-celular ml-n3 mr-1">1</span>	
				No icone informar a quantidade de pedidos com o status concluido, ao clicar, lista todos os pedidos com o status concluido;
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="filtro" src="@{'/public/images/icones/pedUsuHover.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #ff5555;">
				<span class="notificacao statusRecusado text-white font-size-celular ml-n3 mr-1">1</span>				
				No icone informar a quantidade de pedidos com o status recusado, ao clicar, lista todos os pedidos com o status recusado;
			</p>
		</li>
		<li class="mt-2">
			<p>
			<img title="adicionar admin" src="@{'/public/images/icones/pedUsuHover.png'}" width="40" 
			class="bg-dark p-1 m-1" style="border-bottom: 3px solid #aeb7d2;">
			<span class="notificacao statusEntregue text-white font-size-celular ml-n3 mr-1">1</span>	
				No icone informar a quantidade de pedidos com o status entregue, ao clicar, lista todos os pedidos com o status entregue;
			</p>
		</li>
	</ul>
	<div class="h2 text-justify text-primary mt-3 h1-celular">Diagrama de caso de uso do usuário
		<img alt="user"	src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<a title="click para abrir o diagrama" href="@{'/public/images/sigicop/Caso_de_uso_Usuario.jpg'}">
		<img title="click para abrir o diagrama" alt="Caso_de_uso_Usuario" src="@{'/public/images/sigicop/Caso_de_uso_Usuario.jpg'}">
	</a>
	<hr/>
		<div class="h1 text-justify text-primary mt-4 h1-celular">passo a passo do administrador <img alt="" 
		src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;"></div>
	<ul class="m-0">
		<li>
			<p>
				O administrador deverá acessar o site da SIGICOP;
			</p>
		</li>
		<li>
			<p>
				Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";
			</p>
		</li>
		<li>
			<p>
				Ao entrar na página de login, fornecer o login e senha para entrar no sistema;
			</p>
		</li>
		<li>
			<p>
				O administrador ao logar, poderá visualizar todos os pedidos com o status "AGUARDANDO" 
				(se houver), filtra-los e efetuar download;
			</p>
		</li>
		<li>
			<p>
				Em "Meus Dados" (icone do administrador<img title="icone de usuario" 
				src="@{'/public/images/icones/admin.png'}" width="30" class="bg-dark p-0 ml-1">), 
				clicando poderá visualizar seu nome, email e ultimo acesso, e poderá editar seus dados;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá concluir ou recusar os pedidos (se houver), se recusar será obrigado a 
				dá uma justificativa, se concluir, será opcional a justificativa;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá listar todos os pedidos concluídos, e poderá filtra-los;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá listar todos os pedidos recusados, e poderá filtra-los;
			</p>
		</li>
		<li>
			<p>
				O administrador em lista de concluído, poderá entregar o pedido depois que o usuário recebe a 
				impressão;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá realizar baixa para o usuário, quando for pedido de cópia;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá cadastrar novos administradores;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá listar todos os administradores do sistema e remover-los;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá restaurar a quantidade de solicitações de todos os usuários, 
				informando a quantidade;
			</p>
		</li>
		<li>
			<p>
				Ao logar, o administrador poderá sair a qualquer momento;		
			</p>
		</li>
	</ul>
	<div class="h2 text-justify text-primary mt-3 h1-celular">Icones do administrador
		<img alt=""	src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<ul class="m-0">
		<li class="mt-2">
			<p>
				<img title="realizar cópia" src="@{'/public/images/icones/baixaHover.png'}" width="40" 
				class="bg-dark p-1 m-1 float-left" style="border-bottom: 3px solid #529fed;">
				Redereciona para a página que possui um formulário que efetuar pedido de cópia;
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="filtro" src="@{'/public/images/icones/filtroHover.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #529fed;">
				Abrir um formulário para realizar o filtro de pedidos;
			</p>
		</li>
		<li class="mt-2">
			<p>
			<img title="adicionar admin" src="@{'/public/images/icones/adminAddHover.png'}" width="40" 
			class="bg-dark p-1 m-1 float-left" style="border-bottom: 3px solid #529fed;">
				Redericiona para a página que possui um formulário que pode cadastrar administradores
				(essa função só pode ser efetuada pelo administrador padrão)
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="listar admins" src="@{'/public/images/icones/adminListarHover.png'}" width="40" 
				class="bg-dark p-1 m-1 float-left" style="border-bottom: 3px solid #529fed;">
				Redericiona para a página que lisar todos os administradores do sistema
				(essa função só pode ser efetuada pelo administrador padrão);
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="restaurar qtd" src="@{'/public/images/icones/restaurarHover.png'}" width="40" 
				class="bg-dark p-1 m-1 float-left" style="border-bottom: 3px solid #529fed;">
				Abrir um panel para o administrador informar quantidade à ser restaurada 
				(essa função só pode ser efetuada pelo administrador padrão);
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="filtro de admins" src="@{'/public/images/icones/adminFiltroHover.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #529fed;">
				Abrir um formulário para realizar o filtro de administradores 
				(essa função só pode ser efetuada pelo administrador padrão);
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="Apagar Entregues" src="@{'/public/images/icones/deletePedEntregue.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #aeb7d2;">
				Apaga todos os pedidos com o status "ENTREGUE" 
				(essa função só pode ser efetuada pelo administrador padrão);
			</p>
		</li>
		<li class="mt-2">
			<p>
				<img title="Apagar Recusados" src="@{'/public/images/icones/deletePedRecusado.png'}" width="40" 
				class="bg-dark p-1 m-1" style="border-bottom: 3px solid #ff5555;">
				Apaga todos os pedidos com o status "RECUSADO" 
				(essa função só pode ser efetuada pelo administrador padrão);
			</p>
		</li>
	</ul>
	<div class="h2 text-justify text-primary mt-3 h1-celular">Diagrama de caso de uso do administrador
		<img alt=""	src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<a title="click para abrir o diagrama" href="@{'/public/images/sigicop/Caso_de_uso_Administrador.jpg'}">
		<img title="click para abrir o diagrama" alt="Caso_de_uso_Administrador" src="@{'/public/images/sigicop/Caso_de_uso_Administrador.jpg'}">
	</a>
	<hr/>
</div>


