#{extends 'layPri.html' /} 
#{set title:'SIGICOP-Sistema de Gerenciamento de Impressoes e Copias' /}
<div class="text-justify">
	<div class="h1 text-center text-primary">SIGICOP</div>
	<!-- <div class="text-center">
		<img class="rounded-circle" src="@{'/public/images/passoApasso/IFJC.png'}"
		style="max-width: 100%; float: left;" width="45%" height="30%"/>
	</div> -->
	<p class="text-break" style="text-indent: 1cm;">
	A SIGICOP é um projeto de conclusão do curso subsequente em informática, realizado por Magdiel Pereira de Souza 
	e por Manacio Pereira de Souza. A SIGICOP é um sistema de gerenciamento de cópias e impressões, que facilite e
	agilize a demanda de impressões e cópias do IFRN-CAMPUS-JC, onde o usuário possa ter controle sobre a quantidade 
	de solicitacão disponíveis e o administrador possar gerenciar as solicitacões
	</p>
	<div class="h2 text-center text-primary">PASSO A PASSO DO USUÁRIO <img alt="" src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;"></div>
	<ul>
		<li><p>O usuário deverá acessar o site da SIGICOP;</p></li>
		<li><p>Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";</p></li>
		<li><p>Se caso o usuário ainda não for cadastrado, deverá se cadastrar clicando em "Cadastra-se", preencher o formulário e salvar os dados;</p></li>
		<li><p>Ao entrar na página de login, fornecer o login e senha para entrar no sistema;</p></li>
		<li><p>O usuário ao logar, poderá visualizar seus pedidos anteriores (se houver), e poderá filtra-los e efetuar download;</p></li>
		<li><p>Em "Meus Dados" (icone de usuário) poderá visualizar a quantidade disponível de solicitações, clicando poderá vizualizar seu nome, email e ultimo acesso;</p></li>
		<li><p>O usuário poderá solicitar pedidos de impressões, ao solicitar, se houver solicitações disponível, aparecerá o formulário, se não, aparecerá mensagem em vermelho informando que não é possivel efetuar nenhuma solicitação;</p></li>
		<li><p>Ao solicitar, os pedido serão listado ao lado do formulário, onde o usuário poderá cancelar e salvar quando quiser;</p></li>
		<li><p>Após logar, o usuário poderá sair a qualquer momento;</p></li>			
	</ul>
		<div class="h2 text-center text-primary">PASSO A PASSO DO ADMINISTRADOR <img alt="" src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;"></div>
	<ul>
		<li><p>O administrador deverá acessar o site da SIGICOP;</p></li>
		<li><p>Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";</p></li>
		<li><p>Ao entrar na página de login, fornecer o login e senha para entrar no sistema;</p></li>
		<li><p>O administrador ao logar, poderá visualizar todos os pedidos com o status "AGUARDANDO" (se houver), filtra-los e efetuar download;</p></li>
		<li><p>Em "Meus Dados" (icone do administrador) poder visualizar seu nome, email e ultimo acesso, e poderá editar seus dados;</p></li>
		<li><p>O administrador poderá concluir ou recusar os pedidos (se houver), se recusar será obrigado a dá uma justificativa, se concluir, será opcional a justificativa;</p></li>
		<li><p>O administrador poderá listar todos os pedidos concluídos, e poderá filtra-los;</p></li>
		<li><p>O administrador poderá listar todos os pedidos recusados, e poderá filtra-los;</p></li>
		<li><p>O administrador em lista de concluído, poderá entregar o pedido depois que o usuário recebe a impressão;</p></li>
		<li><p>O administrador poderá realizar baixa para o usuário, quando for pedido de cópia;</p></li>
		<li><p>O administrador padrão poderá cadastrar novos administradores;</p></li>
		<li><p>O administrador padrão poderá listar todos os administradores do sistema e remover-los;</p></li>
		<li><p>O administrador padrão poderá restaurar a quantidade de solicitações de todos os usuários, informando a quantidade;</p></li>
		<li><p>Ao logar, o administrador poderá sair a qualquer momento;		</p></li>
	</ul>
</div>


