#{extends 'layPri.html' /} 
#{set title:'SIGICOP-Sistema de Gerenciamento de Impressoes e Copias' /}
<div class="text-left font-size-celular">
	<div class="h1 text-center text-primary">SIGICOP</div>
	<!-- <div class="text-center">
		<img class="rounded-circle" src="@{'/public/images/passoApasso/IFJC.png'}"
		style="max-width: 100%; float: left;" width="45%" height="30%"/>
	</div> -->
	<p class="text-break text-justify" style="text-indent: 1cm;">
	A SIGICOP é um projeto de conclusão do curso subsequente em informática, realizado por Magdiel 
	Pereira de Souza e por Manacio Pereira de Souza. A SIGICOP é um sistema de gerenciamento de cópias 
	e impressões, que facilite e agilize a demanda de impressões e cópias do IFRN-CAMPUS-JC, onde o 
	usuário possa ter controle sobre a quantidade de solicitacão disponíveis e o administrador possar 
	gerenciar as solicitações.
	</p>
	<div class="h1 text-center text-primary h1-celular">Instruções da SIGICOP </div>
	<ul>
		<li>
			<p>Os alunos podem realizar até 15 cópias mensais;</p>
		</li>
		<li>
			<p>Todas as impressões serão frente/verso, de modo a evitar desperdício;</p>
		</li>
		<li>
			<p>Não fazemos cópia de livro na integra, em respeito aos direitos autorais;</p>
		</li>
		<li>
			<p>Prazo de cópias de livro: 72 horas úteis;</p>
		</li>
		<li>
			<p>Envio de atividades/provas: 48 horas úteis;</p>
		</li>
		<li>
			<p>A cota de impressões/cópias é destinada exclusivamente para materias de ensino e/ou vinculado ao IFRN/JC;</p>
		</li>
	</ul>
	<div class="h1 text-center text-primary h1-celular">passo a passo do usuário 
		<img alt=""	src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<ul class="m-0">
		<li>
			<p>
				O usuário deverá acessar o site da SIGICOP;
			</p>
		</li>
		<li>
			<p>
				Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";
			</p>
		</li>
		<li>
			<p>
				Se caso o usuário ainda não seja cadastrado, deverá se cadastrar clicando em "Cadastra-se", 
				preencher o formulário e salvar os dados;
			</p>
		</li>
		<li>
			<p>
				Ao entrar na página de login, fornecer o login e senha para entrar no sistema;
			</p>
		</li>
		<li>
			<p>
				O usuário ao logar, poderá visualizar seus pedidos anteriores (se houver), e poderá filtra-los 
				e efetuar download do arquivo enviado e poderá efetuar download do relatório do pedido entregue (se houver);
			</p>
		</li>
		<li>
			<p>
				Em "Meus Dados" (icone de usuário <img title="meus dados" alt="iconUser" src="@{'/public/images/icones/iconUser.png'}" 
				class="rounded-circle m-0 p-0" width="25" style="background-color: #1b1c1d;">) poderá visualizar 
				a quantidade disponível de solicitações, clicando poderá vizualizar seu nome, email e ultimo acesso(se houver);
			</p>
		</li>
		<li>
			<p>
				O usuário poderá solicitar pedidos de impressões, ao solicitar, se houver solicitações disponível, 
				aparecerá o formulário, se não, aparecerá mensagem de alerta que informará que não é possivel efetuar 
				nenhuma solicitação;
			</p>
		</li>
		<li>
			<p>
				Ao solicitar, os pedido serão listado ao lado do formulário, onde o usuário poderá cancelar e 
				salvar quando quiser;
			</p>
		</li>
		<li>
			<p>
				Após logar, o usuário poderá sair a qualquer momento;
			</p>
		</li>			
	</ul>
	<div class="h2 text-center text-primary mt-3 h1-celular">Diagrama de caso de uso do usuário
		<img alt="user"	src="@{'/public/images/icones/usu.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<a title="click para abrir o diagrama" href="@{'/public/images/sigicop/Caso_de_uso_Usuario.jpg'}">
		<img title="click para abrir o diagrama" alt="Caso_de_uso_Usuario" src="@{'/public/images/sigicop/Caso_de_uso_Usuario.jpg'}">
	</a>
	<hr/>
		<div class="h1 text-center text-primary mt-4 h1-celular">passo a passo do administrador <img alt="" 
		src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;"></div>
	<ul class="m-0">
		<li>
			<p>
				O administrador deverá acessar o site da SIGICOP;
			</p>
		</li>
		<li>
			<p>
				Quando visitar a página principal clicar em "Entrar" ou em "Entrar agora";
			</p>
		</li>
		<li>
			<p>
				Ao entrar na página de login, fornecer o login e senha para entrar no sistema;
			</p>
		</li>
		<li>
			<p>
				O administrador ao logar, poderá visualizar todos os pedidos com o status "AGUARDANDO" 
				(se houver), filtra-los e efetuar download;
			</p>
		</li>
		<li>
			<p>
				Em "Meus Dados" (icone do administrador	<img title="meus dados" alt="iconUser" 
				src="@{'/public/images/icones/iconAdmin.png'}" width="25" class="rounded-circle" style="background-color: #1b1c1d;">), 
				clicando poderá visualizar seu nome, email e ultimo acesso, e poderá editar seus dados;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá concluir ou recusar os pedidos (se houver), se recusar será obrigado a 
				dá uma justificativa, se concluir, será opcional a justificativa;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá listar todos os pedidos concluídos, e poderá filtra-los;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá listar todos os pedidos recusados, e poderá filtra-los;
			</p>
		</li>
		<li>
			<p>
				O administrador em lista de concluído, poderá entregar o pedido depois que o usuário recebe a 
				impressão;
			</p>
		</li>
		<li>
			<p>
				O administrador poderá realizar baixa para o usuário, quando for pedido de cópia;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá cadastrar novos administradores;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá listar todos os administradores do sistema e remover-los;
			</p>
		</li>
		<li>
			<p>
				O administrador padrão poderá restaurar a quantidade de solicitações de todos os usuários, 
				informando a quantidade;
			</p>
		</li>
		<li>
			<p>
				Ao logar, o administrador poderá sair a qualquer momento;		
			</p>
		</li>
	</ul>
	<div class="h2 text-center text-primary mt-3 h1-celular">Diagrama de caso de uso do administrador
		<img alt=""	src="@{'/public/images/icones/adm.png'}" width="35" style="position: relative; bottom: 4px;">
	</div>
	<a title="click para abrir o diagrama" href="@{'/public/images/sigicop/Caso_de_uso_Administrador.jpg'}">
		<img title="click para abrir o diagrama" alt="Caso_de_uso_Administrador" src="@{'/public/images/sigicop/Caso_de_uso_Administrador.jpg'}">
	</a>
	<hr/>
</div>


